name: deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

defaults:
  run:
    working-directory: website

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Test build website
        run: yarn build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          #user_name: github-actions[bot]
          #user_email: 41898282+github-actions[bot]@users.noreply.github.com

